body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(179, 172, 172);
}

.banner {
    margin: 0px;
    background-color: rgb(135, 129, 141);
    height: fit-content;
    h1 {
        margin: 0px;
        padding: 20px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    ul {
        margin: 0px;
        list-style-type: none;
        display: inline-block;
        li {
            text-align: center;
            display: inline;
            a {
                padding: 10px;
                background-color: azure;
            }
        }
    }
}

.cart {
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    #cart-total {
        h2 {
            margin: 0px;
        }
        p {
            font-size: large;
            margin: 10px 0px 10px 0px;
        }
        button {
            display: block;
        }
    }
    #cart-list {
        button {
            margin: 10px 0px 10px 0px;
        }
        #cart-list-table {
            display: none;
        }
    }
}

.products {
    padding-bottom: 20px;
    background-color: mintcream;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6rem;
    row-gap: 3rem;
    justify-content: center;
    .products-product {
        border-radius: 20px;
        border-style: solid;
        border-color: black;
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        img {
            margin: auto;
            max-height: 200px;
            display: block;
        }
        .products-product-description {
            width: 200px;
            display: block;
        }
    }
    @media only screen and (max-width:1000px) {
        grid-template-columns: 1fr 1fr;
    }
}